.MuiGrid-container {
  text-align: center !important;
}

.containerGrid {
  height: 100vh !important;
  max-height: 100vh !important;
  background-color: #91a3d6;
}

.itemGrid {
  background-color: #91a3d6;
  text-align: center;

  max-height: 100% !important;
}

.buttonGroup {
  height: 100% !important;
  max-width: 600px !important;
  max-height: 600px !important;
  padding: 20px;
}
