.questionButton {
  background-color: rgb(195, 225, 236) !important;
  padding: 10px !important;
  max-width: 100% !important;
  /*min-height: 250px !important;
  min-width: 700px !important; */
  margin-bottom: 10px !important;

  -moz-box-shadow: 0 0 3px rgb(30, 34, 87);
  -webkit-box-shadow: 0 0 3px rgb(30, 34, 87);
  box-shadow: 2px 2px 3px rgb(30, 34, 87);
}
.questionButton img {
  max-width: 90% !important;
}
