.buton {
  background-color: #4850ca !important;
  margin-bottom: 5px !important;
  max-width: 100% !important;
  color: white !important;
  border-radius: 0 !important;
  -moz-box-shadow: 0 0 3px rgb(30, 34, 87);
  -webkit-box-shadow: 0 0 3px rgb(30, 34, 87);
  box-shadow: 2px 2px 3px rgb(30, 34, 87);
}
.buton:hover {
  cursor: pointer;
}

.buton img {
  max-width: 80% !important;

  box-sizing: border-box !important;
}
.MuiButton-text {
  padding: 20px 10px 20px 10px !important;
}
