.containerGrid {
  background-color: rgb(145 163 214);
  padding: 10px;
}
.containerGrid .MuiGrid-spacing-xs-2 {
  width: calc(100% + 16px);
  margin: -4px !important;
}
.itemGrid {
  background-color: rgb(145 163 214);
  text-align: center;
  padding: 10px;
}

.buttonGroup {
  max-width: 100% !important;
}
